{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>predict</title>
    {% load staticfiles %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />
  
    <!-- Favicons -->
  
    <link href="{% static 'images/Picture1.jpg' %}" rel="icon" />
    <link href="{% static 'images/Picture1.jpg' %}" rel="apple-touch-icon" />
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" />
  
    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" />
  
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet" />
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet" />
    <link href="{% static 'lib/ionicons/css/ionicons.min.css'%}" rel="stylesheet" />
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet" />
  
    <!-- Main Stylesheet File -->
  
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>
<body>
   <!--/ Nav Star /-->
   <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="{%url 'homepage_after_login'%}">Dream<span
          class="color-b">Villa</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="{%url 'homepage_after_login'%}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'about'%}">About</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Our Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{%url 'buy'%}">Buying Home</a>
              <!-- <a class="dropdown-item" href="blog-single.html"></a> -->
              <a class="dropdown-item" href="{%url 'sell'%}">Selling Home</a>
              <a class="dropdown-item" href="agent-single.html">Rental</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'contact'%}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'predict'%}">Price predictions</a>
          </li>
        </ul>
      </div>


      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse"
        data-target="#navbarTogglerDemo01" aria-expanded="false"> {{email1}}

      </button>

    </div>
  </nav>
  <!--/ Nav End /-->
      <br /><br /><br /><br /><br /><br /><br />

    <div class="main">
        <h1>Please Enter Following Information</h1>
        {% comment %} <form action="result">
            <div class="row">
                <div class="col-sm-4" >
                <p>avg area income </p>
                <input type="text" name="n1">
                </div>

                <div class="col-sm-4" >
                    <p>avg area house age </p>
                    <input type="text" name="n2">
                    </div>

                    <div class="col-sm-4" >
                        <p>avg area number of rooms </p>
                        <input type="text" name="n3">
                        </div>
            </div>

            <div class="row">
                <div class="col-sm-4" >
                    <p>avg area number of bedrooms </p>
                    <input type="text" name="n4">
                    </div>

                    <div class="col-sm-4" >
                        <p>avg area population </p>
                        <input type="text" name="n5">
                        </div>


   <br><br>
            </div>
            <div class="row">
                <input type="submit" value="PREDICT">

            </div>
        </form> {% endcomment %}

        <form action="result" class="row g-3"  >
            {%csrf_token%}
          <div class="col-md-6">
            
  
            <p>avg area income </p>
                <input type="text" name="n1">
           
          </div>
          
  
          <div class="col-md-6">
            <p>avg area house age </p>
            <input type="text" name="n2"> 
            
            
          </div>
          <div class="col-md-6">
            <br>
            <p>avg area number of rooms </p>
            <input type="text" name="n3">
            
          </div>
          <div class="col-md-6">
            <br>
            <p>avg area number of bedrooms </p>
            <input type="text" name="n4">
            
          </div>
          {% comment %} <div class="col-12">
            <br>
            Property Description :<br>{{form.Property_Description}}
           
          </div> {% endcomment %}
          <div class="col-md-6">
            <br>
            <p>avg area population </p>
            <input type="text" name="n5">
            
          </div>
  
          {% comment %} <div class="col-md-6">
            <br>
              Bedrooms: {{form.Bedrooms}}
              
            </div>
  
            <div class="col-md-6">
              <br>
              Bathrooms: {{form.Bathrooms}}
             
            </div>
  
            <div class="col-md-6">
              <br>
              Garages: {{form.Garages}} 
              
            </div>
            <div class="col-md-6">
              <br>
              SELL/RENT: {{form.rent_or_sell}} 
             
            </div>
            <div class="col-md-6">
              <br>
              Facilities: {{form.facilities}}
             
            </div> {% endcomment %}
            
          {% comment %} <div class="col-md-6">
            <br>
              Add Images: <br> {{form.photo}} 
            </div>
            <div class="col-md-6">
              <br>
                Add Images1: <br> {{form1.photo1}} 
              </div>
              <div class="col-md-6">
                <br>
                  Add Images2: <br> {{form1.photo2}} 
                </div>
                <div class="col-md-6">
                  <br>
                    Add Images3: <br> {{form1.photo3}} 
                  </div> {% endcomment %}
          {% comment %} <div class="col-12">
            <button type="submit" class="btn btn-success" value="PREDICT">Submit</button>
          </div> {% endcomment %}
        </div>
        <div class="row">
            <input type="submit" value="PREDICT">

        </div>
    
        </form>

        <DIV class="row">
            <h2>{{result2}}</h2>
        </DIV>
    </div>
</div>

  <!--/ footer Star /-->
  <section class="section-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">DreamVilla</h3>
            </div>
            <div class="w-body-a">
              <p class="w-text-a color-text-a">
                Online forum where
                buyers,sellers and brokers/agents can exchange information about housing properties quickly, effectively
                and
                inexpensively.
              </p>
            </div>
            <div class="w-footer-a">
              <ul class="list-unstyled">
                <li class="color-a">
                  <span class="color-text-a">Phone .</span> 226854265
                </li>
                <li class="color-a">
                  <span class="color-text-a">Email .</span> contact@dreamvilla.com
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">The Company</h3>
            </div>
            <div class="w-body-a">
              <div class="w-body-a">
                <ul class="list-unstyled">
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Site Map</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                  </li>
                  <li class="item-list-a">
                    <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 section-md-t3">
          <div class="widget-a">
            <div class="w-header-a">
              <h3 class="w-title-a text-brand">International sites</h3>
            </div>
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Venezuela</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">China</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Hong Kong</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Argentina</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Singapore</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Philippines</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <nav class="nav-footer">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="about.html">About</a>
              </li>
              <li class="list-inline-item">
                <a href="property-grid.html">Property</a>
              </li>
              
              <li class="list-inline-item">
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </nav>
          <div class="socials-a">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-dribbble" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="copyright-footer">
            <p class="copyright color-text-a">
              &copy; Copyright
              <span class="color-a">DreamVilla</span> All Rights Reserved.
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>
  <!--/ Footer End /-->

</body>
</html>